@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato&family=Montserrat:wght@300&family=Prompt:wght@500&display=swap');


/* 
font-family: 'Caveat', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Prompt', sans-serif; */


* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

html {
    font-size: 10px;
}

.container {
    background-color:#eb4f3b;
    height: 678px;
    background-image: url(../images/img/image.png);
    background-repeat: no-repeat;
  background-position:top right;
  background-size: auto 678px;
 

}
.margin-left{
margin-left:80px;
}
.container .navbar{
    display: flex;
    gap:5px;
    color:#ffffff;
    padding-top:46px;

}

.container .navbar .media .dot{
    text-decoration: underline;
    font-weight: lighter;

}

.container .navbar .careers,
.container .navbar .slash{
    font-weight: lighter;
}

.container .heading{
font-size: 4rem;
width:500px;
margin-top:180px;
margin-bottom:94px;
color: #ffffff;
width: 45%;
}

.container .search{
    height: 55px;
    background-color: #ffffff;
    width:677px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight:lighter;
}

